<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/images/logo.png' | prepend: site.baseurl }}"
      　　　width="40" height="40">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">大类分解</a>
        </li>
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">小类内聚</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a rel="nofollow" target="_blank" href="https://aiinrobot.jp/tech-blog/">AIInRobot</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">参考<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="https://www.notion.so/uta-family/22-Index-78a10bba8cf54e2095566ad88497bd27">Notion</a></li>
            <li><a rel="nofollow" target="_blank" href="https://github.com/utanesuke0612/utanesuke0612.github.io/issues/new">Github</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
